<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_toast_plugin">
    <application>

        <activity
            android:name=".SecondPage"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>
</manifest>
